    <div id="main">
        <div class="header">
            <h1><%= @album.name %></h1>

        </div>

        <div class="content">
            <h2 class="content-subhead">Photos:</h2>
            <ul id="photos">
                <% @album.photos.each do |photo| %>
                <li><img src="/uploads/<%= photo.file %>" title=""></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
