    <div id="main">
        <div class="header">
            <h1>Login</h1>
            <h2>A subtitle for your page goes here</h2>
        </div>

        <div class="content">
            <form class="pure-form pure-form-stacked" method='post' action='/'>
              <input type="text"  placeholder="username" name="username">
              <input type="text" placeholder="password" password name='password'>
              <button type="submit" class="pure-button pure-button-primary">Login</button>
            </form>

            <form class="pure-form pure-form-stacked" method='post' action='/new'>
              <input type="text"  placeholder="username" name="username">
              <input type="text" placeholder="password" password name='password'>
              <button type="submit" class="pure-button pure-button-primary">Create</button>
            </form>


            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg" alt="Train">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
                </div>
            </div>


        </div>
    </div>
</div>

