    <div id="main">
        <div class="header">
            <h1>Upload</h1>
            <h2>Album name</h2>
        </div>

        <div class="content">
            <form action="/upload" method='post' encrypt='multipart/form-data'
                class="dropzone"
                id="my-awesome-dropzone">
                <select required name='album_id'>
                    <% @user.albums.each do |album| %>
                    <option value="<%= album.id %>"><%= album.name %></option>
                    <% end %>
                </select>
            </form>

        </div>
    </div>
</div>
